.attributecontainer {
    display: flex;
    min-height: 180px;
}

.attributegrid {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-right: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1 0;
}

.attributeinput > input{
    border-width: 0px !important;
    width: 55px;
}

.attribute {
    display: flex;
    flex-direction: row;
    flex: 1 1 95px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
}

.portrait {
    height: 200px;
    object-fit: contain;
    margin: auto;
    border-style: outset;
    border-width: 10px;
    border-color: rgb(145, 122, 106);
}

.characteristiclist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    border-radius: 10px;
}

.characteristic {
    display: flex;
    flex-direction: row;
    flex: 1 1 95px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    height: 85px;
}

.skill {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.skillblock {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px;
}

.numberroller {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.charactersheet {
    /* width: 1050px !important; */
    background-color: transparent !important;
    margin: 0 !important;
    background-color: white;
    border-width: 0px !important;
    box-shadow: none !important;
}

@keyframes successanim {
    0%   {opacity: 0;}
    100% {opacity: 100;}
  }

.successcard {
    position: relative;
    animation-name: successanim;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    font-style: italic;
    font-size: 35px;
    margin-top: 10px;
}

.storyarc:hover {
    background-color: rgba(221, 221, 221, 0.486);
    cursor: pointer;
    border-radius: 25px;
    padding: 2px 10px 2px 10px;
}

.storymodal {
    display: flex;
    flex-direction: column;
}

.storyElementPicker {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.123);
    align-items: flex-start;
}

.growthpopup {
    font-size: 8px;
    opacity: 80%;
}

.conceptlabel {
    width: 60px; 
    padding-top: 8px !important;
    padding-bottom: 3px !important;
    background-color: #f0f0f0 !important;
    border-radius: 5px 0px 0px 5px !important;
    color:black !important;
}

.detailinput > input {
    flex-shrink: 1 !important;
    min-width: 50px;
}

.menubutton {
    margin-top: 0px;
}

[contenteditable] {
    outline: 0px solid transparent;
  }


.App {
    height: 100%;
}

#root {
    height: 100%;
}

.sheetcontainer {
    background-color: rgba(141, 123, 113, 0.87);
    height: 95.8%;
    min-width: 950px;
    border-style: groove;
    border-color: rgb(146, 114, 63)
}

.menu {
    background-color: rgba(231, 231, 231, 0.973) !important;
}

.ui.table thead {
    position: sticky !important;
    top: 0;
    z-index: 2;
}

.ui.styled.accordion, .ui.styled.accordion .accordion {
    box-shadow: none !important;
}